/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ヘッダー */
.header {
  height: 80px;
  width: 100%;
  background-color: #354174;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header_title {
  text-align: center;
  flex-grow: 1;
  margin-left: 10%;
  color: #ffffff;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_nav a.post {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

main {
  flex-grow: 1;
}

/* フッター */
.footer {
  padding: 2px;
  font-size: 15px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}